<ng-container>
  <!-- <div class="row mt-4 me-1 ms-1 d-flex flex-wrap justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4">
      <div class="row">
        <div *ngFor="let section of sections" class="col-4">
          <mat-card style="background: mediumseagreen;" class="clickable mat-elevation-z6" (click)="navigate(section.route)">
            <mat-card-content>
              <span class="d-flex justify-content-center align-self-center align-middle">
                <mat-icon>{{section.icon}}</mat-icon> <span class="ms-2 align-self-center">{{section.label}}</span>
              </span>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


    </div>
  </div> -->
  <div class="row mt-4 me-1 ms-1 d-flex justify-content-center">
    <div class="col-12 col-sm-9 col-md-12">
      <div class="col-12  col-md-6 col-lg-4 col-xl-3">
      </div>
      
    </div>
  </div>
</ng-container>



